* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f1f5f8;
    color: black;
}
.container{
    padding: 1rem;
}
.container-center{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    margin: 15px auto;
    padding: 1rem;
    border-radius: 0.5rem;
}
.btn-invicible{
    text-decoration: none;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    background: transparent;
    border: transparent;
    color: #2980b9;
}
.btn-invicible:focus{
    outline: transparent;
}
.btn-invicible:hover{
    color: #3498db;
}
.btn{
    text-decoration: none;
    margin: 10px auto;
    font-size: 16px;
    font-family: 'Trebuchet MS';
    background: #40739e;
    color: white;
    padding: 5px 10px;
    border: solid 2px #40739e;
    border-radius: 0.3rem;
    cursor: pointer;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    background: #0097e6;
    border-color: #0097e6;
    color: #f5f6fa;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #40739e;
    padding: 1rem;
}
.nav-logo{
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: white;
}
.nav-logo:hover{
    color: #2f3640;
}
.nav-content{
    display: flex;
    flex-direction: row;
}
.nav-item{
    margin: 5px 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 2px;
}
.nav-item:hover{
    /* background-color: #00a8ff; */
    color: #2f3640;
}